<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            Welcome <%= current_user.username.titleize %>
          </li>

          <li class="nav-item">
            <%= link_to "Home", events_path %>
          </li>

          <li class="nav-item">
            <%= link_to "My Events", user_path(current_user) %>
          </li>

          <li class="nav-item">
            <%= link_to "Create Event", new_event_path %>
          </li>

          <li class="nav-item">
            <%= link_to "Edit Membership", edit_user_registration_path %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Member Sign In", new_user_session_path %>
          </li>

          <li class="nav-item">
            <%= link_to "Become a Member", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
      <%= form_tag events_path, method: :get, :class => "d-flex" do |form| %>
        <%= text_field_tag :search, params[:search], :class => "form-control me-2", :placeholder => "Search Me" %>
        <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-success" %>
      <% end %>

      <%= button_to "Connect Discord", "/auth/discord", method: :post, class: "btn btn-primary", data: { turbo: false } %>
    </div>
  </div>
</nav>