<h2> Confirmed Guests </h2>

<ol>
  <% event.attendees.each do |guest| %>
    <li><%= guest.username %></li>
  <% end %>
</ol>

<h2>Invited Guests</h2>

<ol>
  <% event.invited_users.each do |guest| %>
    <li><%= guest.username %></li>
  <% end %>
</ol>

<h2>Uninvited Users</h2>
<ol>
  <% event.uninvited_users.each do |user| %>
    <li><%= button_to "#{user.username}", event_invites_path(event), params: { event_id: event.id, user_id: user.id }, :class => 'invite-button' %></li>
  <% end %>
</ol>

<br>

<% if event.is_upcoming? %>
  <%= link_to "Edit Event", edit_event_path(event) %>
  <br>
  <%= link_to "Delete Event", event_path(event), data: {
                                                            turbo_method: :delete,
                                                            turbo_confirm: "Are you sure?"
                                                          } %>
<% end %>
