<h1><%= @event.name %></h1>

<p>When: <%= @event.date.strftime("%B %d, %Y") %>
<p>Where: <%= @event.location %>
<% unless current_user.is_creator?(@event) %>
  <p>Hosted by: <%= @event.creator.username %></p>
<% end %>

<% if current_user.is_creator?(@event) %>
  <%= render "creator_show", event: @event, guests: @event.guests %>

<% elsif current_user.is_attending?(@event) %>
  <%= render "guest_show", event: @event %>
  
<% elsif current_user.is_invited?(@event) %>
  <%= button_to "RSVP", event_attendees_path, params: { event_attendee_id: current_user, attended_event_id: @event } %>
<% end %>
